html
	head
		link(rel="stylesheet",href="/css/libs/bootstrap.css")
		link(rel="stylesheet",href="/css/index/main.css")
	body
		div.main-full-size
			div.main-center.main-box-shadow.main-box-border
				div.main-box-padding
					a(href="/cid") Campaign ID