html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
		link(rel="stylesheet",href="/css/libs/bootstrap.css")
		link(rel="stylesheet",href="/css/index/main.css")
	body
		div.main-full-size
			div.main-center
				div.main-wrapper
					a(href="/cid")
						div.main-content.main-box-shadow
							div.main-column
								div.main-container
									img.img-rounded(src="/img/cid_pre.jpg")
							div.main-column
								div.main-container
									h4 Erstellen einer Kampagnen ID
									div
										p.text
											|Mit diesem Tool ist es möglich eine Kampagnen ID für Adobe Analytics zu erstellen und gleichzeitig per Schnittstelle für die Messung zu aktivieren
				div.main-wrapper
					a(href="/home")
						div.main-content.main-box-shadow
							div.main-column
								div.main-container
									img.img-rounded(src="/img/ccdb_pre.jpg")
							div.main-column
								div.main-container
									h4 Customer Care Dashboard
									div
										p.text
											|Das Customer Care Dashboard
		div.video-fullscreen
			video.video-fullscreen-vid(autoplay="true",loop="true",muted="true",poster="/vid/wg/wg.jpg")
				source(src="/vid/wg/wg.webm",type="video/webm")
				source(src="/vid/wg/wg.mp4",type="video/mp4")
				source(src="/vid/wg/wg.ogv",type="video/ogv")