html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
		script(type="text/javascript",src="/js/libs/jquery-3.1.0.min.js")
		script(type="text/javascript",src="/js/login.js")
		link(rel="stylesheet",href="/css/libs/bootstrap.css")
		link(rel="stylesheet",href="/css/login.css")
	body
		div.full-rel-100.cover-img
			div.center-box
				form(action="/auth",method="post")
					label Passwort
						input(type="hidden",name="ch",value=ch)
						input.form-control(type="password" name="password")
					input(type="submit",value="einloggen",class="btn btn-default btn-block")
					h4.alert-box#alert.hide