.border-wrapper {
	top: 35px;
	right: 50px;
	width: 150px;
	background-color: transparent;
}

.download-container {
	font-family: 'Abel', sans-serif;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffffff !important;
}

.download-frame {
	padding: 5px;
}

.download-content {
	font-size: 15px;
}

.download-top {
	border-bottom: 1px solid black;
}

.download-arrow {
	width: 0px;
	height: 0px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #000000 transparent;
}

.download-headline {
	margin: 0 !important;
	background-color: #000000;
	color: #ffffff;
	padding-left: 10%;
}

.download-loading-wrapper {
	width: 100%;
}

.download-loading-bar {
	height: 1px;
	width: 90%;
	margin: 0 auto;
}

.download-loading-process {
	width: 0;
	background-color: rgba(8, 194, 255, 0.63);
	height: 100%;
}