@import 'https://fonts.googleapis.com/css?family=Abel';

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide-right-in {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-rigth-out {
	to {
		transform: translateX(-100%);
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
	background-position: right;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAKCAYAAAA6jzeaAAAA8klEQVQ4jb3PsWpCQRCF4a18EBvBSrCysPIFQmDBStjZ+U9j6VMJSZ067yIIgiCCTaLeNLsgIQkRvZ5qi5kz34YYYwdYuvtzuCKSnoBljLFzzd5vZa+SGkmfwPQ/O8BU0oekBni5GZFznkg6lMKju8/+mnf3GXAs8EPOeXIzohSPgX0pPgH8NAcg6VTAe3cf3wVQY2YjSbty4Ozu82/QOXAu0J2Zje4KuDg0BLYVImkRQgiSFhUAbN192AqgBhgAm/LjRtJbfQMbYNAqoCal1Je0voA0ktYppf5DADVm1pO0KoCVmfUeCriAdCW9m1m3zTtfjy6QikAhdtsAAAAASUVORK5CYII=) !important;
}

/**
*	angular ngAnimate classes
*/
/*ngView main tab slider*/
.navi.ng-enter {
	animation-name: slide-right-in;
	animation-duration: .35s;
	animation-timing-function: ease-out;
}
/*ngRepeat tables*/
.animate.ng-enter, 
.animate.ng-leave
{ 
    transition: .3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
    opacity: 0;
}
 
.animate.ng-enter.animate.ng-enter-active, 
.animate.ng-leave {
    opacity: 1;
}
/**
*/

.bar {
	position: fixed;
	width: 100%;
	height: 50px;
	left:0;
	top:0;
	background-color: rgba(0,0,0,.5);
	z-index: 1;
}

.display-none {
	display: none !important;
}

.opacity-0 {
	opacity: 0;
}

.banner {
	height: 300px;
	width: 100%;
	background-image: url("../img/analytics.jpg");
	background-repeat: no-repeat;
	background-position: 0px -150px; 
	position: relative;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.title {
	font-family: 'Abel', sans-serif;
	position: absolute;
	bottom: 0px;
	left: 10px;
	color: #ffffff;
}

.frame {
	padding-top: 30px;
}

.full {
	width: 100%;
	height: 100%;
}

.width-relative-100 {
	width: 100%;
}

.block {
	display: block;
	float: none !important;
}

.padding-10 {
	padding: 10px;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-25 {
	padding-top: 25px;
}

.padding-left-5 {
	padding-left: 5px;
}

.padding-left-25 {
	padding-left: 25px;
}

.padding-left-relative-80 {
	padding-left: 80%;
}

.padding-right-5 {
	padding-right: 5px;
}

.padding-right-25 {
	padding-right: 25px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.left-0 {
	left:0;
}

.right-0 {
	right:0;
}

.left-25 {
	left: 25px;
}

.bottom-0 {
	bottom: 0;
}

.popdown, .arrow {
	display: block;
	position: relative;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.arrow {
	position: absolute;
	padding: 6px 4px;
	width: initial;
	right: 0;
	top: 0;
	height: 32px;
}

.poplist {
	position: absolute;
	width: 100%;
	left: 0;
	top: 34px;
	border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
	background-color: #ffffff;
	z-index: 1;
}

.popitem {
	width: 100%;
	padding: 5px 0 5px 3px;
    color: #000000;
}

.popitem:hover {
	cursor: pointer;
}

.hover-dummy {
	position: relative;
}

.hover-menu {
	position: absolute;
	top:0;
	left: -30px;
	width: 28px;
    height: 28px;
    padding: 2px;
    position: relative;
    pointer-events: none;
    opacity: 0;
    transform: scaleX(0.7) scaleY(0.8) translateX(56px);
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.inline-block {
	display: inline-block;
}

.top-60 {
	top: 60px;
}

.z-index-10 {
	z-index: 10;
}

.add-cid {
	top: -50px;
	left: -50px;
	height: 50px;
	width: 50px;
}

.my-info-box {
	border: 1px solid black;
	border-color: #a94442;
	background-color: #ffffff;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, .075);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .075);
	border-radius: 3px;
    padding: 0px 7px;
	margin-top: 0 !important;
}

.font-alert {
	color: #a94442;
}

.my-arrow-up {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #a94442;
}

.small-letters {
	font-size: 50%;
}

.white  {
	color: #ffffff;
}

.theme-color-blue {
	color: #337AB7
}

.glyphicon-20 {
	font-size: 20px;
}

.glyphicon-30 {
	font-size: 30px;
}

.glyphicon-a {
	color: rgba(255,255,255,.7);
}

.glyphicon-a:hover {
	cursor: pointer;
	color: rgba(255, 209, 11, 0.74);
}

.cursor-pointer:hover {
	cursor: pointer;
}

.main-borderless-input {
	border: 0;
	background-image: none !important;
	width: 100% !important;
	cursor: default;
}

.main-table-tr:hover input,
.main-table-tr:hover select {
	background-color: rgb(245,245,245);
}

.main-center {
	text-align: center;
}

.main-table {
	display: inline-block !important;
	width: 100%;
}

.main-table-th {
	display: inline-block !important;
	width: 100%;
	padding: 8px 0;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.main-table-tr {
	display: inline-block !important;
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid rgba(204,204,204,.7);
}

.main-table-tr:hover {
	background-color: rgb(245,245,245);
}

.main-sort-arrow {
	border: solid #000;
	display: inline-block;
	padding: .2em;
	transform: rotate(45deg);
}

.main-sort-arrow-up {
	border-width: .2em 0 0 .2em;
}

.main-sort-arrow-down {
	border-width: 0 .2em .2em 0;
}

.btn-circle {
	width: 25px;
	height: 25px;
	text-align: center;
	font-size: 14px;
	border-radius: 25px;
	padding: 0;
}

.btn-circle-lg {
	width: 35px;
	height: 35px;
	border-radius: 35px;
}

.btn-circle:hover {
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.rotate-360{
	transition: transform .15s linear;
}

.rotate-360:hover {
	transition: transform .15s linear;
}

.main-fluid-action {
	top: 0;
	right: -50px;
	width: 55px;
	z-index: 1;
}

.btn-fluid {
	display: none;
	outline: none !important;
}

.btn-outline-none {
	outline: none !important;
}