<div ng-controller="mainCtrl" db="intelliad_db">
	<form name="userForm" ng-submit="validation(userForm,{'name':c.Name,'root':c.Root,'ext':c.Ext})" novalidate>
		<div class="row padding-top-10 padding-bottom-10">
			<div class="col-md-8 col-sm-8 block form-group relative" ng-class="{'has-error': userForm.cName.$invalid && !userForm.cName.$pristine }">
				<div class="padding-bottom-5">
					<span class="label label-default">IntelliAd-Kampagne</span>
				</div>
				<input name="cName" class="inputField form-control" ng-model="c.Name" type="text" placeholder="Kampagnen-Titel..." ng-minlength="1" required />
				<div class="absolute top-60 z-index-10" ng-show="userForm.cName.$invalid && !userForm.cName.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Der IntelliAd-Kampagnen-Titel muss mindestens ein Zeichen lang sein.</p>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 block form-group relative" ng-class="{'has-error': userForm.cRoot.$invalid && !userForm.cRoot.$pristine }">
				<div class="padding-bottom-5">
					<span class="label label-default">Stamm-Url</span>
				</div>
				<input name="cRoot" class="inputField form-control" ng-model="c.Root" type="text" placeholder="Url..." ng-minlength="1" required />
				<div class="absolute top-60 z-index-10" ng-show="userForm.cRoot.$invalid && !userForm.cRoot.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Die URL muss mindestens ein Zeichen lang sein.</p>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 block form-group relative" ng-class="{'has-error': userForm.cExt.$invalid && !userForm.cExt.$pristine }">
				<div class="padding-bottom-5">
					<span class="label label-default">Zusatz-Url</span>
				</div>
				<input name="cExt" class="inputField form-control" ng-model="c.Ext" type="text" placeholder="Zusatz..." ng-minlength="1" required />
				<div class="absolute top-60 z-index-10" ng-show="userForm.cExt.$invalid && !userForm.cExt.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Die URL muss mindestens ein Zeichen lang sein.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 padding-top-25">
				<button type="submit" class="btn btn-default" id="btn-input">Kampagne anlegen</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div id="context-0-0" class="col-md-12 col-sm-12">
			<div class="main-table" context-menu>
				<div class="main-table-th">
					<div class="col-sm-2 cursor-pointer" ng-click="changeSortType('name')">
						Titel
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'name'">
							</i>
						</span>
					</div>
					<div class="col-sm-4 cursor-pointer" ng-click="changeSortType('root')">
						Stamm-Url
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'root'">
							</i>
						</span>
					</div>
					<div class="col-sm-4 cursor-pointer" ng-click="changeSortType('ext')">
						Zusatz-Url
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'ext'">
							</i>
						</span>
					</div>
					<div class="col-sm-1 main-center">Aktionen</div>
				</div>
				<div class="main-table-tr-wrapper">
					<div class="main-table-tr animate" ng-repeat="value in items | orderBy:doc.creationdate:true track by $index" data-context-info="{{value.doc}}">
						<form name="userFormChange" ng-submit="validation(this.userFormChange,{_id:value.doc._id,_rev:value.doc._rev,name:value.doc.name,root:value.doc.root,ext:value.doc.ext})" novalidate>
							<div class="col-sm-2"><input type="text" class="main-borderless-input" ng-value="value.doc.name" ng-model="valueN.doc.name" ng-init="valueN.doc.name=value.doc.name" /></div>
							<div class="col-sm-4"><input type="text" class="main-borderless-input" ng-value="value.doc.root" ng-model="valueN.doc.root" ng-init="valueN.doc.root=value.doc.root" /></div>
							<div class="col-sm-4"><input type="text" class="main-borderless-input" ng-value="value.doc.ext" ng-model="valueN.doc.ext" ng-init="valueN.doc.ext=value.doc.ext" /></div>
							<div class="col-sm-1 main-center">
								<button type="submit" class="btn btn-default" ng-disabled="!userFormChange.$valid" style="padding: 1px 1px;">
									<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
								</button>
								<button ng-click="deleteItem({id:value.doc._id,rev:value.doc._rev,info:'ItelliAd-Kampagne: &quot;' + value.doc.name + '&quot;'})" type="button" class="btn btn-default" style="padding: 1px 1px;">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>