<div ng-controller="mainCtrl" db="campaign_db">
	<form name="userForm" ng-submit="validation(userForm,{'name':c.Name,'type':c.Type,'intext':c.IntExt,'start':c.date.Start,'end':c.date.End})" autocomplete="off" novalidate>
		<div class="row padding-top-10 padding-bottom-10">
			<div class="col-md-3 col-sm-3 form-group relative" ng-class="{'has-error': userForm.cName.$invalid && !userForm.cName.$pristine }">
				<div class="padding-bottom-5">
					<label class="label label-default">Kampagnen-Titel</label>
				</div>
				<input name="cName" class="inputField form-control" ng-model="c.Name" type="text" placeholder="Titel..." required />
				<div class="absolute top-60 z-index-10" ng-show="userForm.cName.$invalid && !userForm.cName.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Der Kampagnen-Titel muss mindestens ein Zeichen lang sein.</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error': userForm.cType.$invalid && !userForm.cType.$pristine }">
				<div class="padding-bottom-5">
					<label class="label label-default">Kampagnen-Typ</label>
				</div>
				<select name="cType" ng-model="c.Type" class="form-control inputField" ng-minlength="1" ng-init="c.Type = 'Conversion'" ng-options="v for v in ['Conversion','Image']">
				</select>
				<div class="absolute top-60 z-index-10" ng-show="userForm.cType.$invalid && !userForm.cType.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Eine eindeutige Auswahl muss getroffen werden.</p>
				</div>	
			</div>
			<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error': userForm.cIntExt.$invalid && !userForm.cIntExt.$pristine }">
				<div class="padding-bottom-5">
					<span class="label label-default">Interne/Externe Kampagne</span>
				</div>
				<select name="cIntExt" ng-model="c.IntExt" class="form-control inputField" ng-minlength="1" ng-init="c.IntExt = 'Intern'" ng-options="v for v in ['Intern','Extern']">
				</select>
				<div class="absolute top-60 z-index-10" ng-show="userForm.cIntExt.$invalid && !userForm.cIntExt.$pristine">
					<div class="padding-left-5">
						<div class="my-arrow-up"></div>
					</div>
					<p class="help-block my-info-box">Eine eindeutige Auswahl muss getroffen werden.</p>
				</div>
			</div>
			<div ng-model="c.date" validate-date>
				<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error': userForm.cStart.$invalid && !$userForm.cStart.$pristine}">
					<div class="padding-bottom-5">
						<label class="label label-default">Kampagnenstart</label>
					</div>
					<input name="cStart" class="inputField form-control" type="text" datepicker="" ng-model="c.date.Start" placeholder="Start..." ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.\d{4}$/" />
					<div class="absolute top-60 z-index-10" ng-show="userForm.cStart.$invalid && !$userForm.cStart.$pristine">
						<div class="padding-left-5">
							<div class="my-arrow-up"></div>
						</div>
						<p class="help-block my-info-box">Falsches Datum</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 form-group" ng-class="{'has-error':userForm.cEnd.$invalid && !userForm.cEnd.$pristine }">
					<div class="padding-bottom-5">
						<span class="label label-default">Kampagnenende</span> 
					</div>
					<input name="cEnd" class="inputField form-control" type="text" datepicker="" ng-model="c.date.End" placeholder="Ende..." ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.\d{4}$/" />
					<div class="absolute top-60 z-index-10" ng-show="userForm.cEnd.$invalid && !$userForm.cEnd.$pristine">
						<div class="padding-left-5">
							<div class="my-arrow-up"></div>
						</div>
						<p class="help-block my-info-box">Falsches Datum</p>
					</div>
					<div class="absolute top-60 z-index-10 has-error" ng-show="userForm.$error.wrongDatePeriod">
						<div class="padding-left-5">
							<div class="my-arrow-up"></div>
						</div>
						<p class="help-block my-info-box">Anfangsdatum muss vor Enddatum liegen</p>
					</div>
				</div>
			</div>
			<div class="col-md-1 col-sm-1 padding-top-25">
				<button class="btn btn-default" type="submit" id="btn-input">anlegen</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div id="context-0-0" class="col-md-12 col-sm-12">
			<div class="main-table" context-menu>
				<div class="main-table-th">
					<div class="col-sm-3 cursor-pointer" ng-click="changeSortType('name')">
						Titel
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'name'">
							</i>
						</span>
					</div>
					<div class="col-sm-2 cursor-pointer" ng-click="changeSortType('type')">
						Typ
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'type'">
							</i>
						</span>
					</div>
					<div class="col-sm-2 cursor-pointer" ng-click="changeSortType('intext')">
						Intern/Extern
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'intext'">
							</i>
						</span>
					</div>
					<div class="col-sm-2 cursor-pointer" ng-click="changeSortType('start')">
						Start
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'start'">
							</i>
						</span>
					</div>
					<div class="col-sm-2 cursor-pointer" ng-click="changeSortType('end')">
						Ende
						<span class="padding-left-5">
							<i class="main-sort-arrow" ng-class="{'main-sort-arrow-up':!sortDescending, 'main-sort-arrow-down':sortDescending}" ng-show="sortType === 'end'">
							</i>
						</span>
					</div>
					<div class="col-sm-1 main-center">Aktionen</div>
				</div>
				<div class="main-table-tr-wrapper">
					<div class="main-table-tr animate" ng-repeat="value in items | orderBy:sortType:sortDescending track by $index" data-context-info="{{value.doc}}">
						<form name="userFormChange" ng-submit="validation(this.userFormChange,{_id:value.doc._id,_rev:value.doc._rev,name:value.doc.name,type:value.doc.type,intext:value.doc.intext,start:value.doc.start,end:value.doc.end})" novalidate>
							<div class="col-sm-3"><input name="Titel" type="text" class="main-borderless-input" ng-model="value.doc.name" required /></div>
							<!--<div class="col-sm-2"><select name="Typ" class="main-borderless-input" ng-model="value.doc.type" ng-options="v for v in ['Conversion','Image']" ng-minlength="1"></select></div>-->
							<div class="col-sm-2"><span ng-model="value.doc.type">{{value.doc.type}}</span></div>
							<!--<div class="col-sm-2"><select name="Intern/Extern" class="main-borderless-input" ng-model="value.doc.intext" ng-options="v for v in ['Intern','Extern']" ng-minlength="1"></select></div>-->
							<div class="col-sm-2"><span ng-model="value.doc.intext">{{value.doc.intext}}</span></div>
							<div class="col-sm-2"><input name="Start" type="text" class="main-borderless-input" ng-model="value.doc.start" ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.\d{4}$/" /></div>
							<div class="col-sm-2"><input name="Ende" type="text" class="main-borderless-input" ng-model="value.doc.end" ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])\.(0?[1-9]|1[012])\.\d{4}$/" /></div>
							<div class="col-sm-1 main-center">
								<button type="submit" class="btn btn-default" ng-disabled="!userFormChange.$valid" style="padding: 1px 1px;">
									<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
								</button>
								<button ng-click="deleteItem({id:value.doc._id,rev:value.doc._rev,info:'Kampagne: &quot;' + value.doc.name + '&quot;'})" type="button" class="btn btn-default" style="padding: 1px 1px;">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>