<div class="row custom-modal-modal-format">
	<div class="col-md-12 col-sm-12 block form-group" ng-repeat="(key,val) in values track by $index">
		<div class="padding-bottom-5" ng-if="key !== 'id'">
			<span class="label label-default">{{key | keyNames:key}}</span>
		</div>
		<div ng-switch on="key">
			<input ng-model="values[key]" ng-switch-when="id" class="inputField form-control" type="hidden" required/>
			<select ng-model="values[key]" ng-switch-when="intext" class="form-control inputField" ng-options="v for v in ['Intern','Extern']"></select>
			<input ng-model="values[key]" ng-switch-when="start" class="inputField form-control" type="text" datepicker="" required />
			<input ng-model="values[key]" ng-switch-when="end" class="inputField form-control" type="text" datepicker="" required />
			<input ng-model="values[key]" ng-switch-default class="inputField form-control" type="text" required />
		</div>
	</div>
	<div class="col-md-1 col-sm-1 padding-top-25">
		<button ng-click="confirm()" class="btn btn-default" type="submit" id="btn-focus-on">speichern</button>
	</div>
</div>