@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

body {
	font-size: 9px;
	font-weight: 400;
	font-family: 'Oxygen', sans-serif;
}

h4 {
	font-weight: 700;
}

video {
	margin: 0;
	padding: 0;
}

.main-full-size {
	height: 100%;
	width: 100%;
	/*background-image: url("/img/background.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
}

.main-center {
	padding-top: 10%;
	width: 90%;
	margin: auto;
}

.main-wrapper {
	padding-bottom: 20px;
}

.main-content {
	overflow: hidden;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	border-radius: 10px;
}

.main-content:hover {
	background-color: rgba(235,235,235,.9);
}

.main-column {
	float: left;
	width: 50%;
	padding-bottom: 100%;
	margin-bottom: -100%;
}

.main-column > .main-container {
	padding: 2%;
	width: 100%;
}

.main-column > .main-container img {
	width: 100%;
}

.main-box-padding {
	padding: 40px 20px;
}

.main-box-shadow {
	-webkit-box-shadow: 0px 0px 61px -1px rgba(133,128,128,0.43);
	-moz-box-shadow: 0px 0px 61px -1px rgba(133,128,128,0.43);
	box-shadow: 0px 0px 61px -1px rgba(133,128,128,0.43);
}

.video-fullscreen {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -100;
}

.video-fullscreen-vid {
	position: absolute;
	top: 0;
	left: 0;
}

@media (min-aspect-ratio:16/9) {
	.video-fullscreen-vid {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio:16/9) {
	.video-fullscreen-vid {
		width: auto;
		height: 100%;
	}
}

@media (max-width:700px) {
	video {
		display: none;
	}
	.main-full-size {
		background-image: url("/img/background.jpg");
		background-size: cover;
	}
}

@media screen and (max-width: 450px) {
	.text  {
		display: none;
	}
}

@media screen and (min-width: 700px) {
	body {
		font-size: 130%;
	}
	h4 {
		margin-top: 2% !important;
		margin-bottom: 2% !important;
	}
	.main-center {
		position: absolute;
		max-width: 700px;
		left: 50%;
		margin: 0 0 0 -350px;
	}
}